
nav { position: top; width: 100%; margin: 0px 0px 30px 0px; padding: 0px 0px 0px 20px;}

h1 {margin: 0px 0px 20px 10px; color: azure; border-bottom: 4px solid; display: inline-block; text-align: top;}

#story-select-header {margin: 0px 95px 5px 0px;}

#story-header {margin: 0px 300px 0px 100px; border-bottom: 4px solid; display: inline-block; text-align: top;}

body {text-align: center; color: azure;}

form {cursor: pointer; display: inline-block; padding: 10px 6px; text-align: left; width: 150px; color: azure;}

button {margin: 15px 0px 10px 25px;}

#redirect-button {margin: 20px 190px 0px 0px;}

#story-text {margin: 20px 300px 0px 100px; width: 40vw; word-wrap: break-word; display: inline-block; text-align: center; font-size: 2.5vw;}

#story-select {margin: 0px 125px 0px 0px; padding: 18px 0px 0px 0px; display: inline-block; text-align: center; position: relative;}

#background {
    background: url(/images/dadmeme.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/dadmeme.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/dadmeme.jpg', sizingMethod='scale');
}