{% extends 'base.html' %} {% block content %}
  <body>
    <h1>Dadlibs: {{ title }}.</h1>
    <br />
    <form action="/story">
        <form action="/story">
            {% for prompt in prompts %}
              <p>{{ prompt }}:
                <input name="{{ prompt }}" required>
              </p>
            {% endfor %}
      <input type="hidden" name="story_id" value="{{ story_id}}" />
      <div class="d-grid gap-2">
        <button class="btn btn-lg btn-primary">Submit</button>
      </div>
    </form>
  </body>
  {% endblock %}
